DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

OWNER_IDS=
ADMIN_ROLE_IDS=
SUPPORT_ROLE_IDS=
SUPPORT_ROLE_IDS_ORDER=
SUPPORT_ROLE_IDS_SUPPORT=
SUPPORT_ROLE_IDS_REPORT=
SUPPORT_ROLE_IDS_PARTNERSHIP=
SUPPORT_ROLE_IDS_APPEAL=
OPEN_ROLE_IDS=
BLOCKED_ROLE_IDS=

DISCORD_ADMINS_ARE_ADMINS=true
STAFF_CAN_DELETE=true
OWNER_CAN_CLOSE=true

TICKET_CATEGORY_ID=
CLOSED_CATEGORY_ID=
LOG_CHANNEL_ID=
TRANSCRIPT_CHANNEL_ID=

AUTO_DEPLOY_COMMANDS=true
